---
http_interactions:
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/item
    body:
      encoding: UTF-8
      string: ! '{"type":"service","name":"Test Product","pricemodel":{"base":100.99,"paycycle":"mon","pricemodel":"fla"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Location:
      - https://imagerelay-staging.chargeover.com/api/v3/item/6
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":201,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"id\":6\n  }\n}"
  recorded_at: Thu, 19 Mar 2015 15:29:16 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/item/6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"item_id\":6,\n    \"item_type\":\"service\",\n    \"tierset_id\":7,\n
        \   \"name\":\"Test Product\",\n    \"description\":null,\n    \"units\":null,\n
        \   \"accounting_sku\":null,\n    \"external_key\":null,\n    \"token\":\"zguij401k256\",\n
        \   \"custom_1\":null,\n    \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-19
        10:29:14\",\n    \"mod_datetime\":\"2015-03-19 10:29:14\",\n    \"units_plural\":\"\",\n
        \   \"service_data\":{\n      \"trial_days\":0,\n      \"trial_units\":0,\n
        \     \"is_usage\":false\n    },\n    \"tiersets\":[\n      {\n        \"tierset_id\":7,\n
        \       \"setup\":0,\n        \"base\":100.99,\n        \"percent\":\"0.000000\",\n
        \       \"paycycle\":\"mon\",\n        \"pricemodel\":\"fla\",\n        \"write_datetime\":\"2015-03-19
        10:29:14\",\n        \"mod_datetime\":\"2015-03-19 10:29:14\",\n        \"setup_formatted\":\"$
        0.00\",\n        \"base_formatted\":\"$ 100.99\",\n        \"percent_formatted\":\"0
        %\",\n        \"pricemodel_desc\":\"Flat Pricing (e.g. $X dollars per month)\",\n
        \       \"tiers\":[\n          \n        ]\n      }\n    ],\n    \"categories\":[\n
        \     \n    ]\n  }\n}"
  recorded_at: Thu, 19 Mar 2015 15:29:17 GMT
recorded_with: VCR 2.9.3
