---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer?where=external_key:EQUALS:23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"superuser_id\":358,\n      \"external_key\":\"23\",\n      \"token\":\"wtpi0u9s8bqd\",\n
        \     \"company\":\"Acme Widgets\",\n      \"bill_addr1\":\"144 Ross Hill\",\n
        \     \"bill_addr2\":null,\n      \"bill_addr3\":null,\n      \"bill_city\":\"Huntington\",\n
        \     \"bill_state\":\"Vermont\",\n      \"bill_postcode\":\"05462\",\n      \"bill_country\":\"US\",\n
        \     \"bill_notes\":null,\n      \"ship_addr1\":null,\n      \"ship_addr2\":null,\n
        \     \"ship_addr3\":null,\n      \"ship_city\":null,\n      \"ship_state\":null,\n
        \     \"ship_postcode\":null,\n      \"ship_country\":null,\n      \"ship_notes\":null,\n
        \     \"terms_id\":2,\n      \"class_id\":null,\n      \"custom_1\":null,\n
        \     \"custom_2\":\"http:\\/\\/dev.lvh.me:3000\",\n      \"custom_3\":null,\n
        \     \"admin_id\":null,\n      \"campaign_id\":null,\n      \"custtype_id\":null,\n
        \     \"currency_id\":1,\n      \"no_taxes\":false,\n      \"no_dunning\":false,\n
        \     \"write_datetime\":\"2015-03-20 14:55:42\",\n      \"write_ipaddr\":\"70.88.244.230\",\n
        \     \"mod_datetime\":\"2015-03-20 14:55:42\",\n      \"mod_ipaddr\":\"70.88.244.230\",\n
        \     \"terms_name\":\"Net 30\",\n      \"terms_days\":30,\n      \"paid\":99,\n
        \     \"total\":99,\n      \"balance\":0,\n      \"url_paymethodlink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/paymethod\\/i\\/wtpi0u9s8bqd\",\n
        \     \"currency_symbol\":\"$\",\n      \"currency_iso4217\":\"USD\",\n      \"display_as\":\"Acme
        Widgets\",\n      \"ship_block\":\"\",\n      \"bill_block\":\"144 Ross Hill\\nHuntington
        Vermont 05462\\nUS\",\n      \"superuser_name\":\"Buffy Miller\",\n      \"superuser_first_name\":\"Buffy\",\n
        \     \"superuser_last_name\":\"Miller\",\n      \"superuser_phone\":\"\",\n
        \     \"superuser_email\":\"buffy@imagerelay.com\",\n      \"customer_id\":9\n
        \   }\n  ]\n}"
  recorded_at: Fri, 20 Mar 2015 20:09:53 GMT
recorded_with: VCR 2.9.3
