---
http_interactions:
- request:
    method: post
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":400,\n  \"status\":\"Error\",\n  \"message\":\"A required
        parameter was missing: No data.\",\n  \"response\":false\n}"
  recorded_at: Thu, 19 Mar 2015 14:48:04 GMT
recorded_with: VCR 2.9.3
