---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/item
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"item_id\":2,\n      \"item_type\":\"discount\",\n      \"tierset_id\":2,\n
        \     \"name\":\"Discount\",\n      \"description\":\"Discount\",\n      \"units\":null,\n
        \     \"accounting_sku\":null,\n      \"external_key\":null,\n      \"token\":\"dbfu8pomj0xi\",\n
        \     \"custom_1\":null,\n      \"custom_2\":null,\n      \"custom_3\":null,\n
        \     \"write_datetime\":\"2015-03-16 06:30:15\",\n      \"mod_datetime\":\"2015-03-16
        06:30:15\",\n      \"units_plural\":\"\",\n      \"tiersets\":[\n        {\n
        \         \"tierset_id\":2,\n          \"setup\":0,\n          \"base\":10,\n
        \         \"percent\":\"0.000000\",\n          \"paycycle\":\"evy\",\n          \"pricemodel\":\"fla\",\n
        \         \"write_datetime\":\"2015-03-16 06:30:15\",\n          \"mod_datetime\":\"2015-03-16
        06:30:15\",\n          \"setup_formatted\":\"$ 0.00\",\n          \"base_formatted\":\"$
        10.00\",\n          \"percent_formatted\":\"0 %\",\n          \"pricemodel_desc\":\"Flat
        Pricing (e.g. $X dollars per month)\",\n          \"tiers\":[\n            \n
        \         ]\n        }\n      ]\n    },\n    {\n      \"item_id\":3,\n      \"item_type\":\"service\",\n
        \     \"tierset_id\":5,\n      \"name\":\"Image Relay Big Plan\",\n      \"description\":\"\",\n
        \     \"units\":null,\n      \"accounting_sku\":null,\n      \"external_key\":null,\n
        \     \"token\":\"4xjplvwgunh2\",\n      \"custom_1\":null,\n      \"custom_2\":null,\n
        \     \"custom_3\":null,\n      \"write_datetime\":\"2015-03-17 13[...]
