---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer/18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"superuser_id\":367,\n    \"external_key\":\"546546\",\n    \"token\":\"v0puyxiwbezl\",\n
        \   \"company\":\"Test Customer\",\n    \"bill_addr1\":\"144 Ross Hill\",\n
        \   \"bill_addr2\":\"\",\n    \"bill_addr3\":\"\",\n    \"bill_city\":\"Huntington\",\n
        \   \"bill_state\":\"Vermont\",\n    \"bill_postcode\":\"05462\",\n    \"bill_country\":\"\",\n
        \   \"bill_notes\":null,\n    \"ship_addr1\":null,\n    \"ship_addr2\":null,\n
        \   \"ship_addr3\":null,\n    \"ship_city\":null,\n    \"ship_state\":null,\n
        \   \"ship_postcode\":null,\n    \"ship_country\":null,\n    \"ship_notes\":null,\n
        \   \"terms_id\":2,\n    \"class_id\":null,\n    \"custom_1\":null,\n    \"custom_2\":\"http:\\/\\/dev.lvh.me:3000\",\n
        \   \"custom_3\":null,\n    \"admin_id\":null,\n    \"campaign_id\":null,\n
        \   \"custtype_id\":null,\n    \"currency_id\":1,\n    \"no_taxes\":false,\n
        \   \"no_dunning\":false,\n    \"write_datetime\":\"2015-03-25 08:25:10\",\n
        \   \"write_ipaddr\":\"70.88.244.230\",\n    \"mod_datetime\":\"2015-03-25
        08:33:40\",\n    \"mod_ipaddr\":\"70.88.244.230\",\n    \"terms_name\":\"Net
        30\",\n    \"terms_days\":30,\n    \"paid\":99,\n    \"total\":99,\n    \"balance\":0,\n
        \   \"url_paymethodlink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/paymethod\\/i\\/v0puyxiwbezl\",\n
        \   \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n    \"display_as\":\"Test
        Customer\",\n    \"ship_block\":\"\",\n    \"bill_block\":\"144 Ross Hill\\nHuntington
        Vermont 05462\",\n    \"superuser_name\":\"Buffy Miller\",\n    \"superuser_first_name\":\"Buffy\",\n
        \   \"superuser_last_name\":\"Miller\",\n    \"superuser_phone\":\"\",\n    \"superuser_email\":\"buffy@imagerelay.com\",\n
        \   \"customer_id\":18,\n    \"tags\":[\n      \n    ]\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 14:35:21 GMT
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice?order=invoice_date:DESC&where=customer_id:EQUALS:18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":[\n
        \   {\n      \"invoice_id\":10017,\n      \"currency_id\":1,\n      \"terms_id\":2,\n
        \     \"token\":\"ucrqs1i6oaf9\",\n      \"refnumber\":\"10017\",\n      \"bill_addr1\":null,\n
        \     \"bill_addr2\":null,\n      \"bill_addr3\":null,\n      \"bill_city\":null,\n
        \     \"bill_state\":null,\n      \"bill_postcode\":null,\n      \"bill_country\":null,\n
        \     \"bill_notes\":null,\n      \"ship_addr1\":null,\n      \"ship_addr2\":null,\n
        \     \"ship_addr3\":null,\n      \"ship_city\":null,\n      \"ship_state\":null,\n
        \     \"ship_postcode\":null,\n      \"ship_country\":null,\n      \"ship_notes\":null,\n
        \     \"custom_1\":null,\n      \"custom_2\":null,\n      \"custom_3\":null,\n
        \     \"write_datetime\":\"2015-03-25 08:25:10\",\n      \"void_datetime\":null,\n
        \     \"currency_symbol\":\"$\",\n      \"currency_iso4217\":\"USD\",\n      \"invoice_status_name\":\"Paid\",\n
        \     \"invoice_status_str\":\"closed-paid\",\n      \"invoice_status_state\":\"c\",\n
        \     \"total\":99,\n      \"credits\":0,\n      \"payments\":99,\n      \"sum_base\":99,\n
        \     \"sum_usage\":0,\n      \"sum_onetime\":0,\n      \"is_paid\":true,\n
        \     \"balance\":0,\n      \"is_void\":false,\n      \"due_date\":\"2015-04-24\",\n
        \     \"terms_name\":\"Net 30\",\n      \"terms_days\":30,\n      \"days_overdue\":0,\n
        \     \"is_overdue\":false,\n      \"date\":\"2015-03-25\",\n      \"delay_datetime\":null,\n
        \     \"bill_block\":\"\",\n      \"ship_block\":\"\",\n      \"url_permalink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/ucrqs1i6oaf9\",\n
        \     \"url_paylink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/ucrqs1i6oaf9\",\n
        \     \"url_pdflink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/ucrqs1i6oaf9\",\n
        \     \"package_id\":572,\n      \"customer_id\":18\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 14:35:21 GMT
recorded_with: VCR 2.9.3
