---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/customer/99
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":404,\n  \"status\":\"Error\",\n  \"message\":\"This
        customer does not exist.\",\n  \"response\":null\n}"
  recorded_at: Thu, 19 Mar 2015 14:45:10 GMT
recorded_with: VCR 2.9.3
