---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/package/554
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"terms_id\":3,\n    \"currency_id\":1,\n    \"external_key\":null,\n
        \   \"token\":\"aqpgj7wosu2f\",\n    \"nickname\":\"\",\n    \"paymethod\":\"inv\",\n
        \   \"paycycle\":\"mon\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"creditcard_id\":null,\n
        \   \"ach_id\":null,\n    \"tokenized_id\":null,\n    \"custom_1\":null,\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-19
        11:52:12\",\n    \"mod_datetime\":\"2015-03-19 11:52:12\",\n    \"suspendfrom_datetime\":null,\n
        \   \"suspendto_datetime\":null,\n    \"cancel_datetime\":null,\n    \"holduntil_datetime\":null,\n
        \   \"currency_symbol\":\"$\",\n    \"currency_iso4217\":\"USD\",\n    \"amount_collected\":0,\n
        \   \"amount_invoiced\":100.99,\n    \"amount_due\":100.99,\n    \"next_invoice_datetime\":\"2015-04-19
        00:00:01\",\n    \"package_id\":554,\n    \"customer_id\":1,\n    \"package_status_id\":2,\n
        \   \"package_status_name\":\"Current\",\n    \"package_status_str\":\"active-current\",\n
        \   \"package_status_state\":\"a\",\n    \"line_items\":[\n      {\n        \"item_id\":6,\n
        \       \"tierset_id\":8,\n        \"external_key\":null,\n        \"nickname\":\"\",\n
        \       \"descrip\":null,\n        \"trial_days\":0,\n        \"trial_units\":0,\n
        \       \"custom_1\":null,\n        \"custom_2\":null,\n        \"custom_3\":null,\n
        \       \"subscribe_datetime\":\"2015-03-19 11:52:12\",\n        \"cancel_datetime\":null,\n
        \       \"expire_datetime\":null,\n        \"expire_recurs\":null,\n        \"license\":\"\",\n
        \       \"item_name\":\"Test Product\",\n        \"item_external_key\":\"my_external_id\",\n
        \       \"item_accounting_sku\":null,\n        \"item_units\":null,\n        \"line_item_id\":554,\n
        \       \"tierset\":{\n          \"tierset_id\":8,\n          \"setup\":0,\n
        \         \"base\":100.99,\n          \"percent\":\"0.000000\",\n          \"paycycle\":\"mon\",\n
        \         \"pricemodel\":\"fla\",\n          \"write_datetime\":\"2015-03-19
        11:10:44\",\n          \"mod_datetime\":\"2015-03-19 11:10:44\",\n          \"setup_formatted\":\"$
        0.00\",\n          \"base_formatted\":\"$ 100.99\",\n          \"percent_formatted\":\"0
        %\",\n          \"pricemodel_desc\":\"Flat Pricing (e.g. $X dollars per month)\",\n
        \         \"tiers\":[\n            \n          ]\n        }\n      }\n    ]\n
        \ }\n}"
  recorded_at: Thu, 19 Mar 2015 16:55:56 GMT
recorded_with: VCR 2.9.3
