---
http_interactions:
- request:
    method: get
    uri: https://imagerelay-staging.chargeover.com/api/v3/invoice/10000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! "{\n  \"code\":200,\n  \"status\":\"OK\",\n  \"message\":\"\",\n  \"response\":{\n
        \   \"invoice_id\":10000,\n    \"currency_id\":1,\n    \"terms_id\":3,\n    \"token\":\"lfthab4s5rgz\",\n
        \   \"refnumber\":\"10000\",\n    \"bill_addr1\":null,\n    \"bill_addr2\":null,\n
        \   \"bill_addr3\":null,\n    \"bill_city\":null,\n    \"bill_state\":null,\n
        \   \"bill_postcode\":null,\n    \"bill_country\":null,\n    \"bill_notes\":null,\n
        \   \"ship_addr1\":null,\n    \"ship_addr2\":null,\n    \"ship_addr3\":null,\n
        \   \"ship_city\":null,\n    \"ship_state\":null,\n    \"ship_postcode\":null,\n
        \   \"ship_country\":null,\n    \"ship_notes\":null,\n    \"custom_1\":null,\n
        \   \"custom_2\":null,\n    \"custom_3\":null,\n    \"write_datetime\":\"2015-03-19
        11:52:30\",\n    \"void_datetime\":null,\n    \"currency_symbol\":\"$\",\n
        \   \"currency_iso4217\":\"USD\",\n    \"invoice_status_name\":\"Unpaid\",\n
        \   \"invoice_status_str\":\"open-unpaid\",\n    \"invoice_status_state\":\"o\",\n
        \   \"total\":100.99,\n    \"credits\":0,\n    \"payments\":0,\n    \"sum_base\":100.99,\n
        \   \"sum_usage\":0,\n    \"sum_onetime\":0,\n    \"is_paid\":false,\n    \"balance\":100.99,\n
        \   \"is_void\":false,\n    \"due_date\":\"2015-03-19\",\n    \"terms_name\":\"Due
        on Receipt\",\n    \"terms_days\":0,\n    \"days_overdue\":0,\n    \"is_overdue\":false,\n
        \   \"date\":\"2015-03-19\",\n    \"delay_datetime\":null,\n    \"bill_block\":\"\",\n
        \   \"ship_block\":\"\",\n    \"url_permalink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/view\\/lfthab4s5rgz\",\n
        \   \"url_paylink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/trans\\/pay\\/lfthab4s5rgz\",\n
        \   \"url_pdflink\":\"https:\\/\\/imagerelay-staging.chargeover.com\\/r\\/invoice\\/pdf\\/lfthab4s5rgz\",\n
        \   \"package_id\":554,\n    \"customer_id\":1,\n    \"line_items\":[\n      {\n
        \       \"invoice_id\":10000,\n        \"item_id\":6,\n        \"tierset_id\":8,\n
        \       \"descrip\":null,\n        \"line_rate\":100.99,\n        \"line_quantity\":1,\n
        \       \"line_usage\":0,\n        \"is_base\":true,\n        \"is_free\":false,\n
        \       \"is_setup\":false,\n        \"is_usage\":false,\n        \"is_recurring\":true,\n
        \       \"is_taxed\":\"0\",\n        \"custom_1\":null,\n        \"custom_2\":null,\n
        \       \"custom_3\":null,\n        \"line_item_id\":2561,\n        \"package_line_id\":554\n
        \     }\n    ]\n  }\n}"
  recorded_at: Thu, 19 Mar 2015 18:12:12 GMT
recorded_with: VCR 2.9.3
